<!-- Blog Entries Column -->
{{#if user.power}}

<h1 class="my-4">Comments
  <small></small>
</h1>

<table class="table">
  <thead>
    <tr>

      <th scope="col">ID</th>
      <th scope="col">COMMENT</th>
      <th scope="col">OWNER</th>
      <th scope="col">STATUS</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>


    {{#each fetchingComment}}
    <tr>
      <th scope="row">{{tirmId id}}</th>
      <td>{{comment}}</td>
      <td>{{user.firstName}}</td>
      <td><input data-id="{{id}}" type="checkbox" {{#if approveComment}} checked="checked" {{/if}} name="approveComment"></td>
      <td><a class="loader" href="/admin/comment/delete/{{id}}" class="btn"><i class="trash icon"></i></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="ui teal message">
  <h1 class="text-center">Sorry !! You can't access, contract your admin</h1>
</div>

{{/if}}